<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Nuestra Empresa</title>
    <link rel="stylesheet" href="diseño_devalores.css">
</head>
<body>
    <header>
        <h1>Acerca de Nuestra Empresa</h1>
        <img src="C:\Users\Estudiante\Downloads\distri.jpg" alt="Imagen de la empresa" />
    </header>
    <main>
        <section class="box">
            <h2>Nuestra Misión</h2>
            <p>Proporcionar un servicio excelente a los clientes y poder expandirnos por todo el sur</p>
        </section>
        <section class="box">
            <h2>Nuestra Visión</h2>
            <p>Ser líderes en el mercado, reconocidos por nuestra excelencia y compromiso con el cliente.</p>
        </section>
        <section class="box">
            <h2>Valores</h2>
            <p>Integridad, Responsabilidad, Servicio</p>
        </section>
    </main>
</body>
</html>